@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	background: #020a18;
}

img {
	display: block;
	max-width: 100%;
}

.container {
	width: 1146px;
	margin: 0 auto;
}

/* --------------------------- */

header {
	margin-bottom: 160px;
}

.navigation {
	padding-top: 39px;
	padding-bottom: 39px;
	display: flex;
	gap: 40px;
	justify-content: center;
	padding-left: 100px;
	padding-right: 100px;
}

.link {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
}

.link:hover {
	color: #3a68b8;
}

main {
	margin-bottom: 197px;
}

.main__content {
	display: flex;
	justify-content: space-between;
}

.main__content__leftSide {
	width: 604px;
}

.small-title {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 160%;
	text-transform: uppercase;
	color: #3a68b8;
	margin-bottom: 10px;
}

.big-title {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-size: 55px;
	line-height: 130%;
	color: #ffffff;
	margin-bottom: 40px;
}

.text {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 160%;
	color: #ffffff;
	opacity: 0.7;
	width: 558px;
	margin-bottom: 50px;
}

.btns-list {
	display: flex;
	flex-direction: row;
}

.btn:hover {
	background: #ffffff; 
    color: #3a68b8;
}

.btn {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	color: #ffffff;
	background: #3a68b8;
	border-radius: 5px;
	padding: 15px 30px;
	border: none;
	margin-right: 20px;
}

.logos {
	display: flex;
	justify-content: space-between;
	padding-top: 99px;

}

.cards__list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 30px;
	padding-top: 100px;
}

.cards__list h2 {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 125%;
	text-align: center;
	color: #FFFFFF;
	opacity: 0.7;
	padding-top: 30px;
	padding-bottom: 30px;
}

.cards__list p {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	text-align: center;
	color: #FFFFFF;
	opacity: 0.7;
}

.card {
	background: #132035;
	border-radius: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 30px;
}

.big_card {
	grid-area: 2 / 1 / 4 / 3;
}

@media (max-width: 849px) {
	/* tab style */
	.body {
		min-width: 80vw;
	}
	.container {
		max-width: 604px;
		margin: 0 auto;
	}

	.main__content {
		flex-direction: column;
		align-items: center;
	}

	.small-title {
		font-size: 16px;
	}

	.big-title {
		font-size: 48px;
	}

	.main__content__leftSide {
		padding-bottom: 128px;
	}

	.main__content img{
		max-width: 414px;
	}

	.logos {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 32px;
	}

	.cards__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 32px;
		max-height: 1331px;
		overflow: hidden;
	}
	.card {
		max-width: 362px;
	}
}

@media (max-width: 375px) {
	/* mobile */
	.container {
		max-width: 343px;
		margin: 0 auto;
	}
	header {
		margin-bottom: 64px;
	}

	.navigation {
		padding-top: 23px;
		padding-bottom: 23px;
		display: flex;
		gap: 16px;
		justify-content: center;
		padding-left: 46px;
		padding-right: 45px;
	}
	.link {
		font-size: 14px;
		line-height: 19px;
	}

	.main__content {
		padding: 0;
	}

	.main__content__leftSide {
		width: 343px;
		text-align: center;
	}

	.small-title {
		font-size: 14px;
		line-height: 160%;
		margin-bottom: 16px;
	}

	.big-title {
		font-size: 28px;
	}

	.text {
		text-align: center;
		width: 343px;
		margin-bottom: 39px;
	}

	.btns-list {
		flex-direction: column;
		gap: 24px;
		align-items: center;
	}

	.main__content img{
		max-width: 343px;
	}

	.card {
		max-width: 343px;
	}

	.cards__list {
		max-height: 1390px;
		overflow: hidden;
	}
}