@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	background: #FFFFFF;
}

img {
	display: block;
	max-width: 100%;
}

.container {
	width: 1140px;
	margin: 0 auto;
}


/* --------------------------- */

.top__container {
    width: 1600px;
    margin: 0 auto;
}

.head__navbar {
    background-color: #222222;
    height: 75px;
    display: flex;
    justify-content: space-between;
}

.head__navbar button {
    background-color: #222222;
    border: none;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 111px;
    padding-top: 18px;
    padding-bottom: 19px;
    margin-left: 231px;
}

.head__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 159px;
    margin-right: 240px;
    padding-top: 26px;
    padding-bottom: 20px;
}

.head__title {
    background-color: #F1E4E6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 764px;
}

.image {
    min-width: 801px;
}

.right__side__head {
    width: 405px;
    height: 93px;
}

.rectangle {
    background-color: #F16D7F;
    width: 12px;
    height: 92px;
    margin-right: 16px;
}

.text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 1;
    color: #222222;
}

span.h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

span.h2pink {
    color: #F16D7F;
}

.right__side__head {
    display: flex;
    flex-direction: row;
    margin-left: 63px;
    margin-top: 290px;
    margin-bottom: 381px;
    margin-right: 331px;
}

.top__cards {
    display: grid;
    height: 470px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-top: 65px;
}

.top__card {
    position: relative;
    text-align: center;

}

.top__card__big {
    grid-area: 2 / 1 / 3 / 4;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(33, 22, 22, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centered h3{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.centered h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.products {
    margin-top: 96px;
}
.main__title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.main__title p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-top: 6px;
}


.all__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-top: 48px;
}

.product-card {
    display: flex;
    flex-direction: column;

}

.card__text {
    background-color: #F8F8F8;
    padding-left: 16px;
    padding-right: 29px;
}

.card__text h3 {
    padding-top: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.card__text p {
    margin-top: 12.6px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.card__text h4 {
    margin-top: 18px;
    padding-bottom: 20px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.all__prod__button {
    margin-top: 48.5px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all__prod__button button {
    width: 211px;
    height: 47px;
    border: 1px solid #FF6A6A;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background-color: #FFFFFF;
}