@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	background: #FFFFFF;
}

img {
	display: block;
	max-width: 100%;
}

.container {
	width: 1146px;
	margin: 0 auto;
}

/* --------------------------- */

header {
    margin-bottom: 82.71px;
    margin-top: 40px;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {

    width: 533px;
    display: flex;
    justify-content: space-between;
}
.link {
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.navigation a:hover {

    color: #F25822;
}

.select_nav {
	border: none;
	position: relative;
	outline: none;	
    
}

main {
    margin-bottom: 162px;
    margin-top: 89px;
}

.main__content {
    display: flex;
    justify-content: space-between;
}

.main__content__leftSide{
    width: 522px;

} 

.img-right{
}

.big-title {
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 17px;
    width: 522px;
}

.text {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
    margin-bottom: 37px;
    width: 466px;
}

.btns-list {
    margin-top: 37px;
}

.btn{
    width: 140px;
    height: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;   
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF; 
}

.btn1{
    width: 140px;
    height: 50px;
    border-radius: 50px;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
    border: #FFFFFF;
    background-color: #FFFFFF;
}

.btn:hover {
    background: #cc3d09;
}

.btn1:hover{   
    background: #c0bdbd; 
    color: #FFFFFF;
}

.logos{
    display: flex;
    width: 1170px;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.cards {
    display: flex;
    padding-bottom: 100px;
    padding-top: 100px;
    justify-content: space-between;
}

.card {
    padding: 30px;
    padding-top: 40px;
}

.card:hover {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.card h2 {
    padding-top: 25px;
    padding-bottom: 17px;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.card p {
    padding-bottom: 25px;
    font-family: 'Gilroy-Regular';
    font-size: 15px;
    line-height: 150%;
    color: #666666;
}

.card button {
    font-family: 'Gilroy-Bold';
    font-size: 11px;
    line-height: 150%;
    color: #000000;
    border: none;
    outline: none;
    background-color: #FFFFFF;
}

.second__page {
    background-color: #FAFAFA;
    padding-bottom: 100px;
}

.page_title {
    display: flex;
    padding-top: 92px;
    padding-bottom: 54px;
	align-items: center;
	flex-direction: column;
}

.page_title h1 {
    font-family: 'Gilroy-Bold';
    font-size: 45px;
    line-height: 53px;
    color: #000000;
    padding-bottom: 19px;
}

.page_title p {
    width: 682px;
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #666666;
}

.cards__high {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card__high {
    background-color: #FFFFFF;
    display: flex;
	align-items: center;
	flex-direction: column;
}

.card__high:hover {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.card__high h2{
    padding-top: 25px;
    padding-bottom: 22px;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.card__high p {
    font-family: 'Gilroy-Regular';
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #AAAAAA;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 39px;
}

.card__high button {
    width: 150px;
    height: 50px;
    margin-left: 100px;
    margin-right: 120px;
    margin-bottom: 50px;
    padding: 15px;
    font-family: 'Gilroy-Bold';
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px; 
    border: #F25822;   
}