@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	background: #FFFFFF;
}

img {
	display: block;
	max-width: 100%;
}

.container {
	width: 1146px;
	margin: 0 auto;
}

/* --------------------------- */

header {
    margin-bottom: 82.71px;
    margin-top: 40px;
    margin-left: 175px;
    margin-right: 175px;
    display: flex;
}

header img {
    padding-left: 0px;
}
.navigation {
    padding-left: 500px;
    padding-top: 11px;
    padding-bottom: 12px;
    padding-right: 0px;

}
.link {
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-right: 10px;
}
.navigation a:hover {

    color: #F25822;
}

main {
    margin-bottom: 162px;
    margin-top: 89px;
}

.main__content {
    display: flex;
    margin-right: auto;
}

.main__content__leftSide{
    width: 522px;

} 

.img-right{
    margin-left: auto;
}

.big-title {
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 17px;
    width: 522px;
}

.text {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
    margin-bottom: 37px;
    width: 466px;
    margin-right: 40.94px;
}

.btns-list {
    margin-top: 37px;
}

.btn{
    width: 140px;
    height: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;   
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF; 
}

.btn1{
    width: 90px;
    height: 19px;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
    margin-left: 72px;
    border: #FFFFFF;
    background-color: #FFFFFF;
}

.logos{
    display: flex;
    width: 1170px;
}

.image {
    margin-right: auto;
}